{% extends 'base.html' %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                <div class="caption">
                    {%if project.image %}
                        <img src="{{ project.image.url }}" class="img-responsive">
                    {% endif %}
                    <h3>{{ employee.e_name }} {{ employee.e_surname }}</h3>
                    <p>ID: {{ employee.e_id }}</p>
                    <p>Email: {{ employee.e_email }}</p>
                    <p>Phone: {{ employee.e_phone }}</p>
                    <p>Degree: {{ employee.e_degree }}</p>
                    <p>Salary: {{ employee.e_salary }}</p>
                    <p>Role: {{employee.role}}</p>
                    <p>Company: {{ employee.eCompany }}</p>
                    <p>Department: {{ employee.eDepartment }}</p>
                    <p>Active: {{ employee.active }}</p>
                    <p>
                        <a href="{{ employee.get_update_url }}" class="btn btn-default" role="button">Update</a>
                        <a href="{{ employee.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
